{% extends "base.html" %}

{% block title %}Search Offices{% endblock %}


{% block content %}

<div id="head">Search by lightyears</div>

	<form action="/caprange_result/" method="get">
		<input autofocus="autofocus" value="{{ current_system }}" type="text" name="target">
		<select name="resultcount">
		<option value="10">10 results</option>
		<option value="20">20 results</option>
		<option value="30">30 results</option>
		<option value="40">40 results</option>
		</select>
		<input type="submit" value="Search">
	</form>

{% endblock %}





