/* CSS Document */

body {
	margin: 0px;
}

#nav {

	word-spacing:20px;
	position:absolute;
	font-size:15px;
	left:30px;
	top:5px;
	height: 30px;
	min-width:300px

}


/* The centrecontent style is set up for a 2 column layout.  
If you want a 3 column layout then change the centreposition style like this:   padding-right: 200px; 
<div id="right"> Write the content for your right hand column inside an id-"right" div like this </div> */

#content {
	background-color: #FFFFFF;
	position:absolute;
	border: 1px solid #999999;
	padding:10px;
	top:30px;
	left:30px;
	width:450px;
}

#heading {
	font-size:16px;
	text-decoration:underline;
}

#right {
	text-align:right;
}



/*
#left {
	width: 20%;
	position: absolute;
	top: 50px;
	left: 0px;
	padding: 10px 0px 10px 6px; 
}

#right {
	width: 130px;
	position: absolute;
	top: 50px;
	right: 0px;
	height: 200px;
}

*/
