/* CSS Document */
.normal   { text-align: justify }
a:hover { color: #ff0029 }

.small {  
	font-family: Georgia, Times New Roman, Times, serif; 
	font-size: 14px; font-style: normal; 
	color: #b6001d; 
	text-decoration: none
}

body {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size:14px;
	text-align: justify;
}

h3 {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size:18px;
	text-align: left;
	color:#b6001d;
}

h1 {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size:24px;
	text-align: left;
	color:#b6001d;
}

td {
	vertical-align:top;


}

p {
	vertical-align:top;
	text-align:justify;

}

a {
color:#b6001d;
text-decoration:none;
font-size:16px;
}

#aligncenter {
text-aligh:center;
}

image {text-align: right;
}


currentpage {
color:#ff0029;
text-decoration:none;
font-size:16px;
}
